<h2><strong><%= @package.tracking_number %></strong></h2>
<h2><strong>Return Location:</strong> <%= @package.return_address %></h2>
<h2><strong>Status:</strong> <%= @ups.find_tracking_info(@package.tracking_number).params["Shipment"]["Package"]["Activity"][0]["Status"]["StatusType"]["Description"] %></h2>
<h2><strong>Current Location:</strong> <%= @package.current_address %></h2>

<iframe width="300" height="300" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["google_maps_api"] %>&q=ups center <%= @package.current_address %>"
 allowfullscreen>
</iframe>


<%= link_to "Delete", "/packages/#{ @package.id }", method: :delete %>